DJANGO_ENV=development

POSTGRES_DB=dertderman
POSTGRES_USER=dertderman
POSTGRES_PASSWORD=dertderman-local-dev
POSTGRES_PORT=5432
POSTGRES_CONN_MAX_AGE=60
POSTGRES_CONNECT_TIMEOUT=5

SITE_BASE_URL=http://127.0.0.1:8000

EMAIL_SENDING_ENABLED=False
TRANSACTIONAL_EMAILS_ENABLED=True

SENTRY_ENABLED=False

DJANGO_STATIC_ROOT=/var/lib/dertderman/static
DJANGO_MEDIA_ROOT=/var/lib/dertderman/media
