EMAIL_PROVIDER=resend
EMAIL_SENDING_ENABLED=False
TRANSACTIONAL_EMAILS_ENABLED=True
RESEND_API_KEY=

DEFAULT_FROM_EMAIL="DertDerman <info@dertderman.com>"
EMAIL_REPLY_TO=destek@dertderman.com

SUPPORT_EMAIL=destek@dertderman.com
SUPPORT_PHONE="+90 850 532 2206"
SUPPORT_HOURS="Hafta içi 09:00 - 18:00"

SITE_BASE_URL=http://127.0.0.1:8000

EMAIL_VERIFICATION_TIMEOUT=86400
EMAIL_CHANGE_TIMEOUT=3600
